# PL1 - G4

## FIRST EXERCISE

Fist step is read the file "satelites.csv" to obtain the radios for each planet.

In [31]:
# Load needed packages
import csv

# Read CSV File, here we obtain a list of str
def ReadCSV(FileName):
    with open(FileName, newline = '') as File:
        reader = csv.reader(File)
        data = []
        for row in reader:
            data.append(row)
        return(data)

# Before having the radios, we need to filter the list in order to
# delete unesefull data, such as '\t' or headers

def GetData(data):
    listFilter = []
    for i in range(len(data)):
        fil = "".join(map(str, list(filter(lambda x: x!= '\t', list(data[i]))))).split()
        listFilter.append(fil)

    result= []
    # We start in 1, just to delete headers
    for i in range(1,len(listFilter)):
        #Get the radius data with int tyipe
        result.append(int(listFilter[i].pop(1)))
    return(result)

    
# IMPORTANT: If the file is not inside the same place as this code, we necessary have 
# to put the completed route to the file
s = (GetData(ReadCSV('satelites.csv')))
print(s)

[13, 16, 22, 33, 39, 42, 27, 34, 20, 30, 20, 15]

Now, analysis as mode, median, range, variance... will be apply in the data.
The main libraries used in this analysis are: statistics, panda and numpy; wich provides easily ways to made this operations.

In [32]:
# Package for statistics' function
import statistics as stats

def mean(data):
    return (stats.mean(data) )

print("AVERAGE MEAN:     ",mean(s))

AVERAGE MEAN:      25.916666666666668

In [33]:
def Range(data):
    return (max(data)-min(data))

print("RANGE:     ",Range(s))

RANGE:      29

In [34]:
def Mode(data):
    return (stats.mode(data))

print("MODE:      ", Mode(s))

MODE:       20

In [35]:
def Median(data):
    return(stats.median(data))
print("MEDIAN:     ",Median(s))

MEDIAN:      24.5

In [36]:
def Variance(data):
    return(stats.variance(data)) #it can be calculate with variance's function
print("VARIANCE", Variance(s))

VARIANCE 93.90151515151516

In [37]:
def StandarDev(data):
    return(stats.pstdev(data)) #o con stdev

print("STANDAR DESVIATION: ", StandarDev(s) )

STANDAR DESVIATION:  9.27773619418492

In [38]:
import pandas as pd
def absFrec(data):
    datos = pd.Series(data)
    return (datos.value_counts())

print("ABSOLUTE FRECUENCY:\n")

absFrec(s).to_frame().T

ABSOLUTE FRECUENCY:

   20  15  30  13  27  42  39  22  34  33  16
0   2   1   1   1   1   1   1   1   1   1   1

In [39]:
def absFrec_acum(data):
    datos = pd.Series(absFrec(data))
    return datos.cumsum()
 

print("ABSOLUTE ACUMULATED FRECUENCY: ")
absFrec_acum(s).to_frame().T

ABSOLUTE ACUMULATED FRECUENCY:

   20  15  30  13  27  42  39  22  34  33  16
0   2   3   4   5   6   7   8   9  10  11  12

In [40]:
def relFrec(data):
    datos = pd.Series(data)
    for i in range(len(data)):
        return (absFrec(data)/len(data))
        
print("RELATIVE ACUMULATED FRECUENCY: ")

relFrec(s).to_frame().T

RELATIVE ACUMULATED FRECUENCY:

,20,15,30,13,27,42,39,22,34,33,16
0,0.166667,0.083333,0.083333,0.083333,0.083333,0.083333,0.083333,0.083333,0.083333,0.083333,0.083333

In [41]:
def relFrec_acum(data):
    datos = pd.Series(relFrec(data))
    return datos.cumsum()
 

print("RELATIVE ACUMULATED FRECUENCY: ")
relFrec_acum(s).to_frame().T

RELATIVE ACUMULATED FRECUENCY:

,20,15,30,13,27,42,39,22,34,33,16
0,0.166667,0.25,0.333333,0.416667,0.5,0.583333,0.666667,0.75,0.833333,0.916667,1.0

In [42]:
import numpy as np
def quantiles(data, num):
    datos = pd.DataFrame(np.array(data))
    return datos.quantile(num)

print("54ª QUANTILE: ",quantiles(s, .54))

54ª QUANTILE:  0    26.7
Name: 0.54, dtype: float64

In [43]:
def rootMeanSqr(data):
    for i in range(len(data)):
        data[i] = data[i]**2
    return(stats.mean(data)**(1/2))
rootMeanSqr(s)

27.527259217001607

In [45]:
def rootMeanSqrAn (data, media):
    res = 0
    for i in range(len(data)):
        anomaly =  data[i]- media + res
        res = anomaly
    return ((res**2)**(1/2))/len(data)
rootMeanSqrAn(s, rootMeanSqr(s) )

1606593964042.3723

In [2]:
# Command necessary for Jupyter to install the library
!pip install pyreadstat

Requirement already satisfied: pyreadstat in c:\programdata\anaconda3\lib\site-packages (0.2.9)

In [104]:
import pyreadstat

def getDataSav():
    df, meta = pyreadstat.read_sav("cardata.sav")
    return df

print(getDataSav())

      mpg  cylinders  displace  horsepower  accel  year  weight  origin  \
0    36.1        4.0      98.0        66.0   14.4  78.0  1800.0     1.0
1    19.9        8.0     260.0       110.0   15.5  78.0  3365.0     1.0
2    19.4        8.0     318.0       140.0   13.2  78.0  3735.0     1.0
3    20.2        8.0     302.0       139.0   12.8  78.0  3570.0     1.0
4    19.2        6.0     231.0       105.0   19.2  78.0  3535.0     1.0
5    20.5        6.0     200.0        95.0   18.2  78.0  3155.0     1.0
6    20.2        6.0     200.0        85.0   15.8  78.0  2965.0     1.0
7    25.1        4.0     140.0        88.0   15.4  78.0  2720.0     1.0
8    20.5        6.0     225.0       100.0   17.2  78.0  3430.0     1.0
9    19.4        6.0     232.0        90.0   17.2  78.0  3210.0     1.0
10   20.6        6.0     231.0       105.0   15.8  78.0  3380.0     1.0
11   20.8        6.0     200.0        85.0   16.7  78.0  3070.0     1.0
12   18.6        6.0     225.0       110.0   18.7  78.0  3620.0     1.0
13   18.1        6.0     258.0       120.0   15.1  78.0  3410.0     1.0
14   19.2        8.0     305.0       145.0   13.2  78.0  3425.0     1.0
15   17.7        6.0     231.0       165.0   13.4  78.0  3445.0     1.0
16   18.1        8.0     302.0       139.0   11.2  78.0  3205.0     1.0
17   17.5        8.0     318.0       140.0   13.7  78.0  4080.0     1.0
18   30.0        4.0      98.0        68.0   16.5  78.0  2155.0     1.0
19   30.9        4.0     105.0        75.0   14.5  78.0  2230.0     1.0
20   23.2        4.0     156.0       105.0   16.7  78.0  2745.0     1.0
21   23.8        4.0     151.0        85.0   17.6  78.0  2855.0     1.0
22   21.5        6.0     231.0       115.0   15.4  79.0  3245.0     1.0
23   19.8        6.0     200.0        85.0   18.2  79.0  2990.0     1.0
24   22.3        4.0     140.0        88.0   17.3  79.0  2890.0     1.0
25   20.2        6.0     232.0        90.0   18.2  79.0  3265.0     1.0
26   20.6        6.0     225.0       110.0   16.6  79.0  3360.0     1.0
27   17.0        8.0     305.0       130.0   15.4  79.0  3840.0     1.0
28   17.6        8.0     302.0       129.0   13.4  79.0  3725.0     1.0
29   16.5        8.0     351.0       138.0   13.2  79.0  3955.0     1.0
..    ...        ...       ...         ...    ...   ...     ...     ...
125  37.0        4.0     119.0        92.0   15.0  80.0  2434.0     3.0
126  32.2        4.0     108.0        75.0   15.2  80.0  2265.0     3.0
127  46.6        4.0      86.0        65.0   17.9  80.0  2110.0     3.0
128  40.8        4.0      85.0        65.0   19.2  80.0  2110.0     3.0
129  44.6        4.0      91.0        67.0   13.8  80.0  1850.0     3.0
130  33.8        4.0      97.0        67.0   18.0  80.0  2145.0     3.0
131  32.7        6.0     168.0       132.0   11.4  80.0  2910.0     3.0
132  23.7        3.0      70.0       100.0   12.5  80.0  2420.0     3.0
133  32.4        4.0     107.0        72.0   17.0  80.0  2290.0     3.0
134  39.1        4.0      79.0        58.0   16.9  81.0  1755.0     3.0
135  35.1        4.0      81.0        60.0   16.1  81.0  1760.0     3.0
136  32.3        4.0      97.0        67.0   17.8  81.0  2065.0     3.0
137  37.0        4.0      85.0        65.0   19.4  81.0  1975.0     3.0
138  37.7        4.0      89.0        62.0   17.3  81.0  2050.0     3.0
139  34.1        4.0      91.0        68.0   16.0  81.0  1985.0     3.0
140  33.7        4.0     107.0        75.0   14.4  81.0  2210.0     3.0
141  32.4        4.0     108.0        75.0   16.8  81.0  2350.0     3.0
142  32.9        4.0     119.0       100.0   14.8  81.0  2615.0     3.0
143  31.6        4.0     120.0        74.0   18.3  81.0  2635.0     3.0
144  25.4        6.0     168.0       116.0   12.6  81.0  2900.0     3.0
145  24.2        6.0     146.0       120.0   13.8  81.0  2930.0     3.0
146  37.0        4.0      91.0        68.0   18.2  82.0  2025.0     3.0
147  31.0        4.0      91.0        68.0   17.6  82.0  1970.0     3.0
148  36.0        4.0     120.0        88.0   14.5  82.0  2160.0     3.0
149  36.0        4.0     107.0        75.0   14.5  82.0  2205.0     3.0
150  34.0        4.0     108.0        70.0   16.9  82.0  2245.0     3.0
151  38.0        4.0      91.0        67.0   15.0  82.0  1965.0     3.0
152  32.0        4.0      91.0        67.0   15.7  82.0  1965.0     3.0
153  38.0        4.0      91.0        67.0   16.2  82.0  1995.0     3.0
154  32.0        4.0     144.0        96.0   13.9  82.0  2665.0     3.0

           make       model   price carmakers     X    Y  a1.2  mpg_agrupada  \
0          Ford      Fiesta  1900.0    Europe  36.1  4.0   7.0           7.0
1    Oldsmobile     Cutlass  3300.0            19.9  8.0   3.0           3.0
2         Dodge    Diplomat  3125.0            19.4  8.0   3.0           3.0
3       Mercury     Monarch  2850.0            20.2  8.0   3.0           3.0
4       Pontiac     Phoenix  2800.0            19.2  6.0   3.0           3.0
5     Chevrolet      Malibu  3275.0            20.5  6.0   3.0           3.0
6          Ford  Fairmont A  2375.0            20.2  6.0   3.0           3.0
7          Ford  Fairmont M  2275.0            25.1  4.0   4.0           4.0
8      Plymouth      Volare  2700.0            20.5  6.0   3.0           3.0
9           AMC     Concord  2300.0            19.4  6.0   3.0           3.0
10        Buick     Century  3300.0            20.6  6.0   3.0           3.0
11      Mercury      Zephyr  2425.0            20.8  6.0   3.0           3.0
12        Dodge       Aspen  2700.0            18.6  6.0   2.0           2.0
13          AMC  Concord D1  2425.0            18.1  6.0   2.0           2.0
14    Chevrolet  MonteCarlo  3900.0            19.2  8.0   3.0           3.0
15        Buick  RegalTurbo  4400.0            17.7  6.0   2.0           2.0
16         Ford      Futura  2525.0            18.1  8.0   2.0           2.0
17        Dodge   Magnum XE  3000.0            17.5  8.0   2.0           2.0
18    Chevrolet    Chevette  2100.0            30.0  4.0   6.0           6.0
19        Dodge        Omni  2250.0            30.9  4.0   6.0           6.0
20     Plymouth     Sapporo  3200.0            23.2  4.0   4.0           4.0
21   Oldsmobile    Starfire  2400.0            23.8  4.0   4.0           4.0
22      Pontiac   Lemans V6  3925.0            21.5  6.0   3.0           3.0
23      Mercury    Zephyr 6  3200.0            19.8  6.0   3.0           3.0
24         Ford  Fairmont 4  2975.0            22.3  4.0   3.0           3.0
25          AMC  ConcordDL6  3150.0            20.2  6.0   3.0           3.0
26        Dodge     Aspen 6  3325.0            20.6  6.0   3.0           3.0
27    Chevrolet  Caprice Cl  4650.0            17.0  8.0   2.0           2.0
28         Ford  LTD Landau  4850.0            17.6  8.0   2.0           2.0
29      Mercury  GrandMarqs  5725.0            16.5  8.0   2.0           2.0
..          ...         ...     ...       ...   ...  ...   ...           ...
125      Datsun   510 Hatch  4050.0            37.0  4.0   8.0           8.0
126      Toyota     Corolla  3975.0            32.2  4.0   6.0           6.0
127       Mazda         GLC  3350.0            46.6  4.0  10.0          10.0
128      Datsun         210  3300.0            40.8  4.0   9.0           9.0
129       Honda  Civic1500G  3925.0            44.6  4.0  10.0          10.0
130      Subaru          DL  3625.0            33.8  4.0   7.0           7.0
131      Datsun      280-ZX  8150.0            32.7  6.0   6.0           6.0
132       Mazda     RX-7 GS  7250.0            23.7  3.0   4.0           4.0
133       Honda      Accord  4700.0            32.4  4.0   6.0           6.0
134      Toyota     Starlet  4400.0            39.1  4.0   8.0           8.0
135       Honda   Civic1300  4000.0            35.1  4.0   7.0           7.0
136      Subaru              3950.0            32.3  4.0   6.0           6.0
137      Datsun         210  3775.0            37.0  4.0   8.0           8.0
138      Toyota      Tercel  4475.0            37.7  4.0   8.0           8.0
139       Mazda       GLC 4  3975.0            34.1  4.0   7.0           7.0
140       Honda     Prelude  5550.0            33.7  4.0   7.0           7.0
141      Toyota     Corolla  4650.0            32.4  4.0   6.0           6.0
142      Datsun       200SX  5825.0            32.9  4.0   7.0           7.0
143       Mazda         626  5650.0            31.6  4.0   6.0           6.0
144      Toyota    Cressida  9475.0            25.4  6.0   4.0           4.0
145      Datsun  810 Maxima  8375.0            24.2  6.0   4.0           4.0
146       Mazda  GLC Cust l  4900.0            37.0  4.0   8.0           8.0
147       Mazda  GLC Custom  5100.0            31.0  4.0   6.0           6.0
148      Nissan   Stanza XE  6350.0            36.0  4.0   7.0           7.0
149       Honda      Accord  6500.0            36.0  4.0   7.0           7.0
150      Toyota     Corolla  5425.0            34.0  4.0   7.0           7.0
151       Honda     Civic M  4625.0            38.0  4.0   8.0           8.0
152       Honda     Civic A  4875.0            32.0  4.0   6.0           6.0
153      Datsun      310 GX  5075.0            38.0  4.0   8.0           8.0
154      Toyota   Celica GT  7700.0            32.0  4.0   6.0           6.0

     mpg_agrupado_12
0                9.0
1                3.0
2                3.0
3                3.0
4                3.0
5                3.0
6                3.0
7                5.0
8                3.0
9                3.0
10               3.0
11               3.0
12               3.0
13               2.0
14               3.0
15               2.0
16               2.0
17               2.0
18               7.0
19               7.0
20               4.0
21               4.0
22               4.0
23               3.0
24               4.0
25               3.0
26               3.0
27               2.0
28               2.0
29               2.0
..               ...
125              9.0
126              7.0
127             12.0
128             10.0
129             12.0
130              8.0
131              8.0
132              4.0
133              7.0
134             10.0
135              8.0
136              7.0
137              9.0
138              9.0
139              8.0
140              8.0
141              7.0
142              8.0
143              7.0
144              5.0
145              5.0
146              9.0
147              7.0
148              9.0
149              9.0
150              8.0
151              9.0
152              7.0
153              9.0
154              7.0

[155 rows x 17 columns]

Now, we are going to do the same analysis than before but with the file "cardata.sav" were mpg is going to be our data.

In [105]:
import numpy as np
import pandas 
df = getDataSav()
data = np.array(df.get("mpg").dropna())
print(data)

[36.1 19.9 19.4 20.2 19.2 20.5 20.2 25.1 20.5 19.4 20.6 20.8 18.6 18.1
 19.2 17.7 18.1 17.5 30.  30.9 23.2 23.8 21.5 19.8 22.3 20.2 20.6 17.
 17.6 16.5 18.2 16.9 15.5 19.2 18.5 35.7 27.4 23.  23.9 34.2 34.5 28.4
 28.8 26.8 33.5 32.1 28.  26.4 24.3 19.1 27.9 23.6 27.2 26.6 25.8 23.5
 30.  39.  34.7 34.4 29.9 22.4 26.6 20.2 17.6 28.  27.  34.  31.  29.
 27.  24.  23.  38.  36.  25.  38.  26.  22.  36.  27.  27.  32.  28.
 31.  43.1 20.3 17.  21.6 16.2 31.5 31.9 25.4 27.2 37.3 41.5 34.3 44.3
 43.4 36.4 30.4 40.9 29.8 35.  33.  34.5 28.1 30.7 36.  44.  32.8 39.4
 36.1 27.5 27.2 21.1 23.9 29.5 34.1 31.8 38.1 37.2 29.8 31.3 37.  32.2
 46.6 40.8 44.6 33.8 32.7 23.7 32.4 39.1 35.1 32.3 37.  37.7 34.1 33.7
 32.4 32.9 31.6 25.4 24.2 37.  31.  36.  36.  34.  38.  32.  38.  32. ]

In [106]:
import statistics as stats
print("""
    Mean: %d
    Median: %d
    Mode: %d
    Range: %d
""" % (stats.mean(data),stats.median(data),stats.mode(data), max(data)-min(data)))

    Mean: 28
    Median: 28
    Mode: 36
    Range: 31

In [107]:
print("""
    Variance: %d
    Standar Desviation: %d
""" % (stats.pvariance(data),stats.pstdev(data)))

    Variance: 54
    Standar Desviation: 7

In [109]:
import pandas as pd
data = data = np.array(df.get("mpg_agrupada").dropna())

def absFrec(data):
    datos = pd.Series(data)
    return (datos.value_counts())

def absFrec_acum(data):
    datos = pd.Series(absFrec(data))
    return datos.cumsum()
 
print("Absolute frecuency group by mpg: \n", (pd.Series(data)).value_counts().to_frame().T)
print("\nAbsolute acumulative frecuency group by mpg: \n", ((pd.Series(data)).value_counts()).cumsum().to_frame().T)

Absolute frecuency group by mpg:
    6.0   7.0   3.0   5.0   4.0   8.0   2.0   10.0  9.0   1.0
0    26    26    24    22    17    15    14     5     4     1

Absolute acumulative frecuency group by mpg:
    6.0   7.0   3.0   5.0   4.0   8.0   2.0   10.0  9.0   1.0
0    26    52    76    98   115   130   144   149   153   154

In [111]:
def relFrec(data):
    datos = pd.Series(data)
    for i in range(len(data)):
        return (absFrec(data)/len(data))
        

def relFrec_acum(data):
    datos = pd.Series(relFrec(data))
    return datos.cumsum()
 

print("Absolute frecuency group by mpg: \n", relFrec(data))
print("\nAbsolute acumulative frecuency group by mpg: \n", relFrec_acum(data))

Absolute frecuency group by mpg:
 6.0     0.168831
7.0     0.168831
3.0     0.155844
5.0     0.142857
4.0     0.110390
8.0     0.097403
2.0     0.090909
10.0    0.032468
9.0     0.025974
1.0     0.006494
dtype: float64

Absolute acumulative frecuency group by mpg:
 6.0     0.168831
7.0     0.337662
3.0     0.493506
5.0     0.636364
4.0     0.746753
8.0     0.844156
2.0     0.935065
10.0    0.967532
9.0     0.993506
1.0     1.000000
dtype: float64